$mobilePadding: 2rem;
$mobileDivSpacing: 6rem;
$tabletDivSpacing: 8rem;

$mobileDivGridGap: 3rem;
$tabletDivGridGap: 4rem;

$colorMain: white;
$colorSecondary: #A7A7A7;

$skillMobile: 8rem;

$h1: 6rem;
$h2: 3rem;
$h3: 2rem;
$h4: 2rem;
$a: 2rem;
